OrderStatusClient/Web References/WsOrder/OrderWcf1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intranetcz.cz.eu.otis.utc.com/OtisOrder/Wcf/OrderWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OTISCZ.InvoiceApproval.Models" />
  <xs:element name="GetOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OTISCZ.InvoiceApproval.Models" minOccurs="0" name="GetOrderStatusResult" nillable="true" type="q1:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>